.container {
  padding: 16px;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  z-index: 1;
}

.list {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
}

.item {
  padding: 8px 16px;
  &.active {
    background: purple;
    color: white;
  }
}
